.bg-red{
  background-color: red;
}

.bg-blue{
  background-color: blue;
}

.bg-green{
  background-color: green;
}

.text-white{
  color: white;
}

.text-black{
  color: black;
}

.w-100{
  width: 100px;
}

.w-200{
  width: 200px;
}